 @{
    ViewData["title"] = Lang.Value("User");
    ViewData["breadcreamp"] = string.Join("-", Lang.Value("Home"), Lang.Value("User"));
}
<ajax-form id="menuModal"
           action="@Url.Action("Save", "Menu", new { area = "Admin" })"
           get-url="@Url.Action("Get", "Menu", new { area = "Admin",id=1 })"
           columns="2">

    <form-input name="Name" label="@Lang.Value("Name")" required="true" />

    <form-input name="Description" label="@Lang.Value("Description")" />

    <form-input name="Url" label="@Lang.Value("Url")" />

    <form-input name="Icon" label="@Lang.Value("Icon")" />

    <form-input name="ParentId"
                label="@Lang.Value("Parent")"
                type="select2"
                get-url="@Url.Action("Read", "Menu", new { area = "Admin", format = "select" })" />

    <form-input name="DisplayOrder"
                label="@Lang.Value("DisplayOrder")"
                type="int"
                value="0" />

    <form-input name="RoleIds"
                label="@Lang.Value("RoleIds")"
                type="select2"
                multiple="true"
                get-url="@Url.Action("Read", "Role", new { area = "Admin", format = "select" })" />

    <form-input name="IsActive"
                label="@Lang.Value("IsActive")"
                type="switch" />

    <form-input name="IsVisible"
                label="@Lang.Value("IsVisible")"
                type="switch" />

    <form-input name="File"
                label="@Lang.Value("Dosyalar","tr")"
                type="file"
                multiple="true"/>
    <array-input name="File" label="@Lang.Value("Dosyalar", "tr")">
        <form-input name="FileName" label="@Lang.Value("FileName")" />
        <form-input name="FileUrl" label="@Lang.Value("FileUrl")" type="text" />
    </array-input>

    <form-input name="Id" type="hidden" />
</ajax-form>
 @* 
@{
    ViewData["Title"] = "Rastgele Grafik";
}


<div class="container py-4">
    <h1 class="mb-4">Rastgele Üretim Grafiği</h1>

    <chart url="/api/reports/random"
           type="line"
           colors="#ff6384,#36a2eb"
           horizontal="false"
           width="800"
           height="400">
    </chart>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

 *@